<div class="polka-dots"></div>

<style>
.polka-dots {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/assets/polka-dots.jpg');
	background-repeat: repeat;
	background-size: 400px;
	mix-blend-mode: multiply;
	opacity: 0.45;
	z-index: -1;
}
</style>